
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


.vl {
  border-left: 6px solid aquamarine;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
  height: 10%;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: aquamarine;
}
.auth-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 10em;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.defi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#saisie{
  height: 40vh;
  width: 30vw;
}

nav{
  position: fixed;
}

.reponse{
  height:15em;
  width: 100%;
}

table {
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

th {
    padding: 12px 15px;
    text-align: left;
    font-size: 1em;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 0.95em;
}
tbody tr:nth-child(1) td {
    background-color: gold; /* rouge clair */
}

tbody tr:nth-child(2) td {
    background-color: silver; /* vert clair */
}

tbody tr:nth-child(3) td {
    background-color: #f38b04; /* bleu clair */
}