
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


.vl {
  border-left: 6px solid aquamarine;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: aquamarine;
}
.auth-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 10em;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.defi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#saisie{
  height: 40vh;
  width: 30vw;
}

nav{
  position: fixed;
}

.reponse{
  height:15em;
  width: 100%;
}